/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, button,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, input, label, legend, textarea,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit;
  box-sizing: border-box; }

.wrap {
  line-height: 1;
  height: 100%; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

textarea {
  resize: none;
  overflow: auto; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "Arimo", "Helvetica", "Arial", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #808080; }

h1 {
  font-size: 28px;
  font-size: 2.8rem;
  font-weight: 600;
  color: #4b4b4b;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dcdcdc;
  letter-spacing: -1px;
  line-height: 32px;
  align-self: flex-start;
  font-family: "Raleway", "Helvetica", "Arial", sans-serif; }

h2 {
  font-size: 22px;
  font-size: 2.2rem;
  font-weight: 400;
  color: #4b4b4b;
  margin-bottom: 10px;
  font-family: "Raleway", "Helvetica", "Arial", sans-serif;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dcdcdc;
  letter-spacing: -1px; }

h3 {
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 600;
  color: #4b4b4b; }

h4 {
  font-size: 18px;
  font-size: 1.8rem;
  color: #4b4b4b;
  margin-bottom: 20px;
  font-weight: 600; }

p {
  margin-bottom: 5px;
  line-height: 28px;
  font-size: 16px;
  font-size: 1.6rem;
  color: #808080;
  font-weight: 400; }

p a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-decoration: underline; }
  p a:hover {
    color: #000; }

span {
  font-size: 16px;
  font-size: 1.6rem;
  color: #808080;
  display: block; }

a {
  color: #808080;
  display: block;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  font-size: 1.6rem;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s; }
  a:hover {
    color: #000; }

ul {
  font-size: 0; }

ul li,
ol li {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 28px; }

ul li a,
button {
  color: #808080;
  font-size: 16px;
  font-size: 1.6rem; }

i,
input,
td {
  font-size: 16px;
  font-size: 1.6rem; }

small {
  font-size: 12px;
  font-size: 1.2rem; }

textarea {
  font-family: "Arimo", "Helvetica", "Arial", sans-serif; }

html {
  min-height: 100%; }

.wrap {
  max-width: 1020px;
  display: block;
  margin: 0 auto;
  font-size: 0;
  height: inherit; }

.inner-wrap {
  padding: 2.94118%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.main-wrap {
	background-image: url(http://i32.photobucket.com/albums/d34/mrsrose/thy_zpsd1otkms8.jpg) }

.secondary-wrap {
  background-color: #ffffff; }

i {
  vertical-align: inherit;
  margin-right: 5px; }
  i:before {
    vertical-align: top; }

.card {
  background-color: #ffffff;
  box-shadow: -10px 5px 20px 5px rgba(0, 0, 0, 0.05);
  padding: 20px;
  margin-bottom: 30px; }

.flex-head {
  justify-content: space-between;
  border-bottom: 1px solid #dcdcdc; }

.nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center; }
  .nav li a {
    padding: 0 20px;
    vertical-align: text-top; }
    .nav li a i {
      color: #000; }

.logo {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 0;
  vertical-align: top;
  text-align: center; }
  .logo .title {
    font-size: 40px;
    font-size: 4rem;
    font-family: "Raleway", "Helvetica", "Arial", sans-serif;
    margin-bottom: .5rem;
    color: #000;
    text-shadow: -1px 1px 0px #d3373d; }

@media only screen and (max-width: 767px) {
  .flex-head {
    flex-wrap: wrap;
    border: 0;
    padding: 2.94118% 0; }

  .logo {
    margin: auto auto 20px;
    border-bottom: 1px solid #dcdcdc;
    width: 100%;
    padding-bottom: 20px; }

  .nav {
    margin: auto;
    flex-wrap: wrap;
    text-align: center;
    width: 100%; }
    .nav li {
      background: #000;
      display: block;
      width: 100%;
      border-top: 1px solid #df7175;
      border-bottom: 1px solid #d3373d; }
      .nav li a {
        color: #ffffff;
        padding: 10px; }
        .nav li a i {
          color: #ffffff; } }
.flex-main {
  flex-wrap: wrap; }

.prod-img-cont {
  max-width: 500px;
  width: 53%;
  vertical-align: top; }
  .prod-img-cont > img {
    box-shadow: -10px 5px 20px 5px rgba(0, 0, 0, 0.05);
    width: 100%;
    height: auto;
    vertical-align: top;
    margin-top: 0 !important; }

.prod-desc-cont {
  max-width: 460px;
  width: 47%;
  padding-left: 30px; }

.desc span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  font-weight: 600; }
.desc div {
  display: block;
  vertical-align: top;
  margin-bottom: 20px; }
.desc .price {
  font-size: 40px;
  font-size: 4rem;
  color: #000;
  line-height: 0.8;
  padding-left: 20px; }
.desc .btn {
  width: 48%;
  padding: 10px;
  background-color: #000;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  color: #ffffff;
  text-align: center; }
  .desc .btn:first-of-type {
    margin-right: 4%; }
  .desc .btn:hover {
    background-color: #d23339; }

.sellers {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-top: 30px; }
  .sellers .card {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    width: 32%;
    margin: 0;
    margin-right: 2%; }
    .sellers .card:last-of-type {
      margin-right: 0; }
  .sellers i {
    font-size: 39px;
    font-size: 3.9rem;
    margin-right: 20px;
    color: #4b4b4b;
    color: #000; }
  .sellers h3 {
    margin-bottom: 10px; }
  .sellers p {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    min-height: 56px; }

.features ul {
  padding-left: 20px; }
  .features ul li {
    list-style: disc; }

.colours {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 40px;
  justify-content: space-around;
}

.colours ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.colours span {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #2d2d2d;
    border-radius: 3px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.colours li {
    padding-right: 10px;
    width: 25%;
}

.colours span.red-temp{background-color:#E42528;}
.colours span.blue-temp{background-color:#3498db;}
.colours span.green-temp{background-color:#a5c63b;}
.colours span.orange-temp{background-color:#ffa800;}
.colours span.pink-temp{background-color:#f47cc3;}
.colours span.watermelon-temp{background-color:#d95459;}
.colours span.seablue-temp{background-color:#2D6673;}

.half {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    margin-bottom: 40px;
}

.item {
  width: 50%;
}

.item.img {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.item iframe{
width:100%!important;
height: 360px!important;

}

.item img {width: 350px;height: 350px;margin-left: auto;}

.inner-wrap.tabs p {
    margin-bottom: 40px;
}

@media only screen and (max-width: 767px) {
  .prod-img-cont,
  .prod-desc-cont {
    max-width: 100%;
    width: 100%;
    display: block;
    padding: 0; }

  .prod-img-cont {
    margin-bottom: 20px; }

  .desc .btn {
    width: 100%; }
    .desc .btn:first-of-type {
      margin-bottom: 10px;
      margin-right: 0; }

  .sellers {
    flex-wrap: wrap;
    text-align: center; }
    .sellers .card {
      width: 100%;
      margin-bottom: 10px;
      margin-right: 0;
      justify-content: center; }
    .sellers p {
      min-height: auto; } }
.tabs {
  float: none;
  list-style: none;
  padding-top: 0;
  flex-wrap: wrap; }
  .tabs:after {
    content: '';
    display: table;
    clear: both; }
  .tabs input[type=radio] {
    display: none; }
  .tabs label {
    display: block;
    float: left;
    width: 32%;
    color: #808080;
    font-size: 30px;
    font-size: 3rem;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
    vertical-align: super;
    padding: 10px; }
    .tabs label span {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      vertical-align: text-top;
      color: #808080;
      line-height: 2.5; }
    .tabs label i {
      padding: 5px;
      vertical-align: bottom; }
    .tabs label:hover, .tabs label:hover span {
      color: #c9c9c9; }
  .tabs h3 {
    margin-bottom: 20px;
    font-size: 24px;
    font-size: 2.4rem; }

.tab-content {
  display: none;
  width: 100%;
  float: left;
  padding: 30px;
  box-sizing: border-box;
  background-color: #ffffff; }

.tab-content * {
  -webkit-animation: scale 0.7s ease-in-out;
  -moz-animation: scale 0.7s ease-in-out;
  animation: scale 0.7s ease-in-out; }

@keyframes scale {
  0% {
    transform: scale(0.9);
    opacity: 0; }
  50% {
    transform: scale(1.01);
    opacity: 0.5; }
  100% {
    transform: scale(1);
    opacity: 1; } }
.tabs [id^="tab"]:checked + label {
  background: #000;
  color: #ffffff; }
  .tabs [id^="tab"]:checked + label:hover, .tabs [id^="tab"]:checked + label:hover span {
    color: #ffffff; }
  .tabs [id^="tab"]:checked + label span {
    color: #ffffff; }

#tab1:checked ~ #tab-content1,
#tab2:checked ~ #tab-content2,
#tab3:checked ~ #tab-content3 {
  display: block; }

@media only screen and (max-width: 767px) {
  .colours li{
    width:50%;
  }
  .item {
    width: 100%;
}
  .item img {
    display:none;
}
  .half {
    flex-wrap: wrap;
  }
  .tabbers {
    display: none !important; }

  .tab-content {
    display: block; } }
footer {
  background: #383838; }
  footer .footer {
    flex-wrap: wrap;
    text-align: center; }
  footer ul {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    margin-bottom: 50px; }
    footer ul a {
      padding: 0 20px;
      vertical-align: text-bottom;
      color: #000; }
      footer ul a:hover {
        color: #d23339; }
  footer .footer-nav {
    border-bottom: 1px solid #808080;
    padding-bottom: 2.94118%; }
  footer .contact li {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    footer .contact li a {
      color: #c9c9c9; }
  footer .copyright {
    width: 100%; }
    footer .copyright a {
      color: #000; }
      footer .copyright a img {
        vertical-align: middle; }
		
		

@media only screen and (max-width: 767px) {
  footer ul {
    flex-wrap: wrap;
    text-align: center; }
    footer ul li {
      width: 100%;
      margin-bottom: 10px; }
      footer ul li:last-of-type {
        margin-bottom: 0; }

  footer .contact li {
    justify-content: space-between; } }


/*# sourceMappingURL=main.css.map */




/**************************# top menu *****************************/

*{
  margin:0;
  padding:0;
}
body {
	font-family: Helvetica, Arial, sans-serif;
  font-size:16px;
}
.mobile-menu {
  display:block;
  width:100%;
background: #000/*e0b88f/*c99393/*e5d1a4/*dcc591/*EFD3A3*/;
line-height: 1.6em;
font-weight: 400;
width:100%;
text-align:center;
	position: relative;
  margin:0 auto;
}
/*Strip the ul of padding and list styling*/
.mobile-menu ul {
	list-style-type:none;
  margin: 0 auto;
  padding-left:0;
  text-align:center;
  width:100%;
  position: absolute;
  background: #000;
}

/*Create a horizontal list with spacing*/
.mobile-menu li {
	display:inline-block;
	/*float: left;
	margin-right: 1px;*/
}

/*Style for menu links*/
.mobile-menu li a {
	display:block;
	min-width:140px;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
  text-transform:uppercase;
	background: #000;
	text-decoration: none;
  margin-left:-5px;
  padding: 10px 0;  
-webkit-transition: all 0.4s ease 0s;
-moz-transition: all 0.4s ease 0s;
-ms-transition: all 0.4s ease 0s;
-o-transition: all 0.4s ease 0s;
transition: all 0.4s ease 0s;
}

/*Hover state for top level links*/
.mobile-menu li:hover a {
	color: #000;
  background-color: #FFF;
}

/*Style for dropdown links*/
.mobile-menu li:hover ul a {
	background: #f3f3f3;
	color: #2f3036;
	height: 40px;
	line-height: 40px;
}

/*Hover state for dropdown links*/
.mobile-menu li:hover .mobile-menu ul a:hover {
	color: #000;
}

/*Hide dropdown links until they are needed*/
.mobile-menu li ul {
	display: none;
}

/*Make dropdown links vertical*/
.mobile-menu li ul li {
	display: block;
	float: none;
}

/*Prevent text wrapping*/
.mobile-menu li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}


/*Style 'show menu' label button and hide it by default*/
.mobile-menu .show-menu {
	text-decoration: none;
	color: #fff;
	background: #000;
	text-align: center;
	padding: 10px 15px;
	display: none;
  cursor: pointer;
  text-transform: uppercase;
}

.mobile-menu .show-menu span{
   padding-left: 35px;
}

/*Hide checkbox*/
.mobile-menu input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
.mobile-menu input[type=checkbox]:checked ~ #menu{
    display: block;
}

/*Responsive Styles*/

@media screen and (max-width : 800px){
  .mobile-menu .lines {
    border-bottom: 15px double #f8f8f8; 
    border-top: 5px solid #f8f8f8; 
    content:"";
    height: 5px; 
    width:20px;
    padding-right:15px;
  float: right;
}
	/*Make dropdown links appear inline*/
	.mobile-menu ul {
		position: static;
		display: none;
	}
	/*Create vertical spacing*/
	.mobile-menu li {
		margin-bottom: 1px;
	}
	/*Make all menu links full width*/
	.mobile-menu ul li, .mobile-menu li a {
		width: 100%;
	}
	/*Display 'show menu' link*/
	.mobile-menu .show-menu {
		display:block;
	}
}


/*******# slider image******************************************* */

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

body { margin: 0; } 
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 25s slidy infinite; 
}
